  <div>

  <h1>Add new Ride</h1>

  <div class="container">
    <form #rideForm="ngForm">

      <div class="row">
        <div class="col-25">
          <label>Location:</label>
        </div>
        <div class="col-75">
          <input
           name="startLocation"
           type="text"
           ngx-google-places-autocomplete
           [options]='options'
           #placesRef="ngx-places"
           (onAddressChange)="srcAddressChange($event)"
           (setAddress)="getAddress($event)"
           adressType="geocode"
           dir="rtl"
           required/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Destenation:</label>
        </div>
        <div class="col-75">
          <input
           name="endLocation"
           type="text"
           ngx-google-places-autocomplete
           [options]='options'
           #placesRef="ngx-places"
           (onAddressChange)="dstAddressChange($event)"
           (setAddress)="getAddress($event)"
           adressType="geocode"
           dir="rtl"
           required/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Distance(km):</label>
        </div>
        <div class="col-75">
          <input name="distance" type="text" placeholder="מרחק בין היעדים..." dir="rtl" [(ngModel)] = "distance" readonly/>
          <button (click)="calculateDistance()">Calculate</button>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="country">Date:</label>
        </div>
        <div class="col-75">
          <input name="date" type="date" placeholder="Enter Date" ngModel/>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="subject">Purpose:</label>
        </div>
        <div class="col-75">
          <input type="text" id="subject" name="subject" placeholder="מטרת הנסיעה..." dir="rtl" ngModel/>
        </div>
      </div>
      <div class="row">
        <input (click)="submit()" type="submit" value="Save">
      </div>
    </form>


  </div>

</div>

